div.upperline {
	border-top-style: solid;
	padding-top: 1em;
	margin-top: 1em;
	border-top-color: black;
	border-top-width: 1px;
}
div.upperdoubleline {
	border-top-width: 6px;
	border-top-style: double;
	border-top-color: black;
	margin-top: 1em;
	padding-top: 1em;
}
div.map {
	font-weight: bold;
	font-family: courier;
	color: #000000;
}
span.map {
	font-weight: bold;
	font-family: courier;
	color: #000000;
}
a.map {
	font-weight: bold;
	color: black;
	font-weight: bold;
}
a.map:hover {
	font-weight: bold;
	color: black;	
	font-weight: bold;
}
